


<div class="container py-md-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1>Welcome to LEAP, Wills Rails template.</h1>
      <p class="lead">Basic defaults that every single app needs, 90% of the time.</p>
      <p>
        <a class="btn btn-primary" href="https://kindleman.com.au">See the Repo</a>
        <a class="btn btn-secondary" href="https://kindleman.com.au">Get Started</a>
      </p>
    </div>
    <div class="col-12 col-lg-4">
      <%= image_tag 'win.jpg' %> 
    </div>
  </div>
</div>



<div class="features pt-3 pb-3  ">
  <div class="container">
    <h2 class="text-center mb-3">Features!</h2>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 ">
      <div class="col ">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h3>Icons</h3>
            <p><a target="_blank" href="https://icons.getbootstrap.com/">Bootstrap Icons</a></p>
            <i class="bi-alarm"></i>
            <i class="bi-eye"></i>
            <i class="bi-clock"></i>
            <i class="bi-car"></i>
            <i class="bi-twitter"></i>
            <i class="bi-instagram"></i>
            <i class="bi-rocket"></i>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h3>Generators!</h3>
            <p>Coming soon! Generators for bootstrap scafolds</p>
          </div>
        </div>  
      </div>
      <div class="col h-100">
        <div class="card border-0 h-100">
          <div class="card-body">
              <h3>Layouts!</h3>
              <p>Site, Application and Admin layouts for each aspect of the app.</p> 
          </div>
        </div>  
      </div>              
      <div class="col ">
        <div class="card border-0 h-100">
          <div class="card-body">
            <h3>Authentication!</h3>
            <p>Comes with Devise pre configured to look good and work sensibly.</p>
          </div>
        </div>  
      </div>    
    </div>
    <br>
      <div class="card border-0">
        <div class="card-body">
          <h3>Tables!</h3>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>  
      
    </div>
  </div>
</div>


