// Sassy
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

 // https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
@import "site/_variables";
@import "bootstrap";


@import "site/devise";
@import "shared";

body{
  
}

.form-group{
  @extend .mb-3;
}

.hidden{
  @extend .d-none;
}

.plain-button{
  background: transparent;
  border: none;
  padding: 0;

}


.cta{
  background: rgb(2,0,36);
  background: linear-gradient(121deg, rgba(2,0,36,1) 0%, rgba(97,97,214,1) 35%);
  color: white;
  padding: 3em;
}
.features{
  background-color: #f1f2f9;
}
header.header{
  border-bottom: 1px solid #eee;
  
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  background-color: white;
  input.search{
    width: 120px;
  }
}