// $body-bg:  lighten(red, 10%);
$spacer: 1.8rem;
$border-color-translucent:    #ddd !default;

$link-decoration: none;

$h1-font-size:                16px * 3.5 !default;
$h2-font-size:                16px * 2.5 !default;
$headings-font-weight:        200 !default;
$dropdown-border-width: 1px;
$dropdown-border-color: #eee;
// $dropdown-box-shadow:  4px 4px 4px #222;
$enable-shadows: true;

$headings-margin-bottom:      $spacer * .1 !default;